.votes {
	justify-self: center;
	align-self: center;
}

#upArrow {
	font-size: 1.8em;
	color: green;
/*	padding-left: .2em;*/
}

#downArrow {
	font-size: 1.8em;
	display: block;
	color: red;
/*	padding-left: .2em;*/
}