.addNew {
	float: right;
	padding-right: 1.5em;
}

.addNewText {
	padding-top: 0.5em;
	padding-left: 1.5em;
	float: left;
	font-family: 'Boogaloo', cursive;
}

.addNewButton {
	float: left;
	margin-left: 1em;
}

.btn {
	background-color: black;
	border-color: black;
	color: white;
}

#submitButton {
	margin-left: 15em;
}

#closeButton {
/*	clear: both;*/
}