ul {
	padding-left: 0;
	padding-right: 0;
}

.placeObject {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
}

.placeImage {
	width: 10em;
    height: 10em;
    border-radius: 17%;
    margin-right: 0.4em;

}

.placeName {
	font-size: 1.56em;
	justify-self: center;
	text-align: center;
}

.placeCity {
	margin-top: 0;
	justify-self: center;
	text-align: center;
}

.placeTitle {
/*	padding-left: .6em;*/
	font-family: 'Boogaloo', cursive;
	display: grid;
}

.placeDescription {
	grid-column: 1/4;
	justify-self: center;
}

.descriptionText {
	font-family: 'Nanum Gothic', sans-serif;
/*	padding-top: 0.3em;
	padding-left: 0.2em;
	padding-right: 5em;*/
/*	padding-bottom: 1em;*/
}

