ul {
	padding-left: 0;
	padding-right: 0;
}

.placeObject {
}

.placeImage {
	width: 10em;
    height: 10em;
    border-radius: 20%;
    float: left;
}

.placeName {
	padding-top: 1.3em;
	font-size: 1.5em;
}

h4.place {
	padding-bottom: .5em;
}

.placeElevation {
	padding-bottom: 0;
}

.placeText {
	float: left;
	padding-left: .6em;
	font-family: 'Boogaloo', cursive;
}

.placeDescription {
	clear: both;
	padding-top: .75em;
	padding-right: .5em;
	padding-left: 1.5em;
}

.descriptionText {
	font-family: 'Nanum Gothic', sans-serif;
	float: left;
	padding-right: 2.3em;
}

.descriptionButton {
	float: right;
	height: 1.5em;
	width: 1em;
}
