.placeObject {
	padding-left: 1.75em;
	padding-right: 1em;
}

.placeImage {
	width: 10em;
    height: 10em;
    border-radius: 20%;
    float: left;
}

.placeName {
	padding-top: 1em;
}

h4.place {
	padding-bottom: .7em;
}

.placeElevation {
	padding-bottom: 0;
}

.placeText {
	float: left;
	padding-left: 1.2em;
	font-family: 'Boogaloo', cursive;
}

.placeDescription {
	clear: both;
	padding-top: .2em;
	padding-right: .5em;
	padding-left: .5em;
	font-family: 'Nanum Gothic', sans-serif;

}