.pageHeader {
	padding-left: 0.3em;
	padding-right: 0.3em;
	text-align: center;
	font-family: 'Architects Daughter', cursive;
	font-weight: bold;
	margin-bottom: 0;
	font-size: 2.85em;
}

.pageHeaderLogo {
	height: 1.5em;
	width: 1.8em;
}

.pageHeaderSlogan {
	text-align: center;
	padding-left: 6em;
	padding-bottom: 1em;
	font-family: 'Caveat', cursive;
	/*font-style: italic;*/
}

.banner {
	padding-bottom: 1.5em;
}

.otisHeader {
	float: left;
	padding-left: 1em;
	padding-right: 1em;
	height: 19em;
	width: auto;
}

.otisPicture {
	border-radius: 25%;
	float: left;
	height: 15em;
	width: auto;
}

.otisText {
	padding-left: 9.7em;
	padding-right: 1em;
	font-size: 1.4em;
	font-family: 'Boogaloo', cursive;
}

.homeObject {
	text-align: center;
	padding: 1em;
}

.homeImage {
    width: 22em;
    height: 19em;
    border-radius: 25%;
/*	opacity: 0.5;*/
}

