ul {
	list-style: none;
}

.parkTitle {
	text-align: center;
	font-family: 'Architects Daughter', cursive;
	font-weight: bold;
	padding-bottom: .5em;
}

.parkList {
	padding-right: 1em;
	padding-left: 1em;
}